<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="author" content="Tatenda Gavaza"/>
        <meta name="description" content="A RESTful API to generate random 5th edition Dungeons and Dragons characters of 1st level."/>

		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='styles.css') }}"
		/>
		<title>DnD 5e Character API</title>
	</head>
	<body>
        <div class="intro">
            <h1>DnD 5e character API</h1>
            <p>
                A RESTful API to generate random 5th edition Dungeons and Dragons characters of 1st level.
                The source code is on <a class="github" href="https://github.com/tatendagavaza/dnd-character-api-5e">Github</a>
            </p>
        </div>
        <hr />
        <div class="info">
            <h3>Generate Random 1st level character</h3>
                <p>
                Send a GET request to: <p class="link">/random-character</p>
                </p>
        </div>
        <div class="info">
            <h3>Search for specific class</h3>
            <p>
                Send a GET request to: <p class="link">/get-class?class="{class}"</p>
            </p>
        </div>
        <div class="info">
            <h3>Search for specific background</h3>
            <p>
                Send a GET request to: <p class="link">/get-background?bg="{background}"</p>
            </p>
        </div>
    </body>
    <div class="footer-padding"></div>
        <div class="footer">
            <p>copyright 2021 Tatenda Gavaza</p>
        </div>
    </div>
</html>